.App-logo {
  height: 60px;
  padding-left: 25px;
}

.App-header {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  color: blue;
  box-shadow: coral;
}
 .title {
   font-size: 30px;
   font-weight: bold;
   margin: 5px;
 }